.content{
    padding:50px 0 50px 0;
}
.grids{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}
.grid.image img{
    width: 95%;
    height: auto;
}
.grid.text ul{
    padding-left: 0;
}
.grid.text ul li{
    list-style: none;
    background-image: url("../img/checkmark.svg");
    background-repeat: no-repeat;
    padding-left: 50px;
    margin: 10px 0px;
    font-size: 20px;
}
.grid button{
    font-size: 20px;
    width:auto;
}
.grids h2 {
    color: #87CEEB;
    margin:0;
    line-height: 110%;
}
.grids p, .grids li{
    color: #e5e5e5;
    letter-spacing: 0em;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 18px;
}

.grids li{
    color: #a6a4a4;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 18px;
}

.heading {
    text-align: center;
    margin-bottom: 50px;
}
.heading h1{
    color: #87CEEB;
    line-height: 100%;
    margin: 0;
}
.heading h3, .grids h3{
    color: #a6a4a4;
    font-size: 20px;
    letter-spacing: 0.1em;
}

